## Joining a DB

In [20]:
from mb_sql.conn import get_engine, get_session, get_base, get_metadata
from mb_sql.sql import read_sql,engine_execute,to_sql
import sqlalchemy as sa

In [14]:
engine = get_engine(name='postgresql' , db= 'postgres', user='postgres' , password= 'postgres', host= 'localhost', port= 5432, echo=False)
engine2 = get_engine(name='postgresql' , db= 'postgres_2', user='postgres' , password= 'postgres', host= 'localhost', port= 5432, echo=False)
session = get_session(engine)
base = get_base()
metadata= get_metadata(base,engine)

Tue 14:38:43,548 INF Engine created for postgresql database.
Tue 14:38:43,552 INF Engine created for postgresql database.
Tue 14:38:43,561 INF Session created for postgres database.
Tue 14:38:43,564 INF Base created for database.
Tue 14:38:43,576 INF Metadata created for database.

In [15]:
a = engine_execute(engine,'CREATE TABLE IF NOT EXISTS test3 (id serial PRIMARY KEY, num integer, data varchar);')
a_2 = engine_execute(engine2,'CREATE TABLE IF NOT EXISTS test3 (id serial PRIMARY KEY, num integer, data varchar);')

In [4]:
#b = engine_execute(conn,"INSERT INTO test3(id,num, data) VALUES (1,100, 'abc')")

In [5]:
c = engine_execute(engine,"SELECT * FROM test3;")
d = engine_execute(engine,"SELECT * FROM test2;")
print(c.fetchall())
print(d.fetchall())

[(1, 100, 'abc')]
[('dave', 12), ('lave', 32), ('read', 54)]

In [8]:
a_sql = read_sql('SELECT * FROM test1;',engine)
a_sql

Tue 14:04:08,969 INF SQL query executed successfully.

   id values
0   1      a
1   2      b
2   3      c

In [13]:
a_sql2 = a_sql.copy()
to_sql(a_sql2,engine,'test4',schema='public',if_exists='replace',index=False)

Tue 14:17:28,563 INF DataFrame written to test4 table.

In [39]:
q1 ="SELECT schema_name FROM information_schema.schemata WHERE schema_name NOT IN ('information_schema', 'mysql', 'performance_schema') ORDER BY schema_name;"
read_sql(q1,engine)

Tue 15:57:17,622 INF SQL query executed successfully.

       schema_name
0       pg_catalog
1        pg_temp_1
2         pg_toast
3  pg_toast_temp_1
4           public
5   testing_schema