## Joining a DB

In [1]:
from mb_sql.conn import get_engine, get_session, get_base, get_metadata, engine_execute

In [2]:
conn = get_engine(name='postgresql' , db= 'postgres', user='postgres' , password= 'postgres', host= 'localhost', port= 5432, echo=False)
session = get_session(conn)
base = get_base()
metadata= get_metadata(base,conn)

Tue 11:44:27,652 INF Engine created for postgresql database.
Tue 11:44:27,655 INF Session created for postgres database.
Tue 11:44:27,658 INF Base created for database.
Tue 11:44:27,672 INF Metadata created for database.

In [15]:
a = engine_execute(conn,'CREATE TABLE IF NOT EXISTS test3 (id serial PRIMARY KEY, num integer, data varchar);')

In [21]:
b = engine_execute(conn,"INSERT INTO test3(id,num, data) VALUES (1,100, 'abc')")

In [26]:
c = engine_execute(conn,"SELECT * FROM test3;")
d = engine_execute(conn,"SELECT * FROM test2;")
print(c.fetchall())
print(d.fetchall())

[(1, 100, 'abc')]
[('dave', 12), ('lave', 32), ('read', 54)]