In [2]:
from mb_sql.conn import get_engine

In [3]:
engine = get_engine(name='postgresql+psycopg2',db='postgres',user='postgres',password='postgres',host='localhost',port='5432')

In [4]:
from mb_sql.conn import get_session,get_base,get_metadata

In [5]:
sess = get_session(engine)

In [6]:
base = get_base()

In [7]:
metadata = get_metadata(base,engine)

In [8]:
from mb_sql.utils import list_schemas,list_tables,rename_table,drop_table,drop_schema,create_schema,create_index,clone_db

In [9]:
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [10]:
list_schemas(engine)

  schema_name
0  pg_catalog
1    pg_toast
2      public
3    ytshorts

In [27]:
list_tables(engine,schema='ytshorts')

    table_name
0  download_db
1  metadata_db
2  trascipt_db

In [12]:
from mb_sql.sql import read_sql,engine_execute

In [ ]:
# engine_execute(engine,"""CREATE TABLE download_db (
#     yt_link TEXT NOT NULL,
#     local_link TEXT,
#     download BOOLEAN,
#     date DATE,
#     time TIME
# );""")

In [ ]:
# engine_execute(engine,"""CREATE TABLE metadata_db (
#     yt_link TEXT NOT NULL,
#     local_link TEXT,
#     metadata JSONB
# );""")

In [ ]:
# engine_execute(engine,""" INSERT INTO download_db (yt_link, local_link, download, date, time)
# VALUES ('https://www.youtube.com/watch?v=_nPQk65D3xE', 
#                '/home/malav/Desktop/ytshorts_files/yt_download_videos/Two_and_a_Half_Men__nPQk65D3xE.mp4',
#                'True',
#                '2025-02-12',
#                '22:36:00');""")

In [24]:
read_sql("""SELECT * from download_db""",engine)

,yt_link,local_link,download,date,time
0,https://www.youtube.com/watch?v=_nPQk65D3xE,/home/malav/Desktop/ytshorts_files/yt_download...,True,2025-02-12,22:36:00

In [ ]:
# engine_execute(engine,"""CREATE TABLE trascipt_db (
#     yt_link TEXT NOT NULL,
#     download BOOLEAN,
#     metadata JSONB,
#     date DATE,
#     time TIME
# );""")